DATABASE_URL = "postgresql://{{ db_admin_user | urlencode }}:{{ db_admin_password | urlencode | regex_replace('/', '%2F') }}@{{ db_host }}:{{ db_port }}/{{ db_name }}{% if db_conn_params %}?{{ db_conn_params }}{% endif %}"

JWT_SECRET = "{{ jwt_secret }}"
JWT_ALGORITHM = "{{ jwt_algorithm }}"
ACCESS_TOKEN_EXPIRE_MINUTES = "{{ access_token_expire_minutes }}"

CORS_ORIGINS = "{{ cors_origins }}"

REDIS_URL = "{{ redis_url }}"

AWS_REGION = "us-east-1"
SES_FROM_EMAIL = "help@{{ domain_name }}"
SES_DISPLAY_NAME = "{{ ses_display_name }}"
FRONTEND_URL = "{{ frontend_url }}"