DATABASE_URL = "postgresql://{{ db_admin_user }}:{{ db_admin_password }}@{{ db_host }}:5432/{{ db_name }}"

JWT_SECRET = "{{ jwt_secret }}"
JWT_ALGORITHM = "{{ jwt_algorithm }}"
ACCESS_TOKEN_EXPIRE_MINUTES = "{{ access_token_expire_minutes }}"

CORS_ORIGINS = "{{ cors_origins }}"

REDIS_URL = "{{ redis_url }}"
